/* ***For phone**** */



@media screen and  (max-width:992px)  {

*{
    scroll-margin: 145px;
}
    header{
    text-align: center;

  
}
html,body{
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
     
}
body{
    overflow:hidden;
}
/* navbar  */
.navbar{
   display: flex;
    flex-direction: column;
  min-height: 50px;
}

.logo{
    display: flex;  
    justify-content: center;
  align-items: center;
    font-size: 1.5rem;
    padding: 0;
    background: #fff;
    width: 100vw;
    margin: 0;
height: 50px;
z-index: 2;
    
}
.one , .one2{
    transform: translateX(9vw);
    z-index: 1;
    word-spacing: 1px;
}
.one{
    color: #000;
}

nav ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    position: absolute;
    top: -133px;
    background-color: #fff;
    transform: translateX(50%);
    z-index: 1;
    transition: 0.5s;
  
   
}
nav ul li{
    padding: 6px;
    font-size: 0.98rem;
  
}
nav ul li a{
    color: black;
  
}
nav ul li a:hover{
    background-color: #ed563b;
    color: #fff;
}

.toggle{
    width: 72px;
    height: 50px;
    position: relative;
    left: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.toggle span{
    background-color: black;
    width: 38px;
    height: 4px;
    position: absolute;
   
}
.toggle span:nth-child(1){
    transform: translateY(-13px);
    transition: 0.5s;
}

.toggle span:nth-child(2){
    transform: translateY(13px);
    transition: 0.5s;
}

.toggle.active span:nth-child(3){
    right: -60px;
    
}
.toggle.active span:nth-child(1){
    transform: translateY(0) rotate(44deg);
    transition: 0.5s;
}
.toggle.active span:nth-child(2){
    transform: translateX(0) rotate(315deg);
    transition: 0.5s;
}
.uldown{
    top: 50px;
}
.btn{
    display: none;
}
.bcm{
    position: relative;
   bottom: 2vh;
}


/* Home  */
.top{
   top: 16vh;

}
.line{
    font-size: 0.96rem;
}
.main-line{
    display: flex;
    margin-top: 2vh;
    flex-direction: column;
    align-items: center;
}
.main-line span{
    font-size: 3rem;
    height: 9vh;
    letter-spacing: 0.56vh;
}
.mid-btn{
    margin-top: 39vh;
width: 44vw;
}
.home-container{
    height: 80vh;
}

/* features  */

.feature-top{
    display: flex;
align-items: center;
justify-content: center;
margin: 0;
}
.feature-head{
    margin-top: 48px;
display: flex;    
align-items: center;
flex-direction: column;
}
.fa1{
    margin-top: 8vh;
}
.motive-line{
    width: 85vw;
}
.feature-all-items{
    flex-wrap: wrap;
    
}
.left-img{
    margin-left: 5vw;
margin-right: 6vw;
}
.right-content{
    width: 60vw;
}
.right-content h2{
    font-size: 1.3rem;
}
.feature-btn{
    width: 61vw;
}
.feature-m{
    margin-top: 35px;
}
.m-bn{
    margin-top: 4vh;
}
.mid-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mid-part{
    margin-top: 8vh;
}

/* classes  */


.classes{
    flex-wrap: wrap;
}
.desktop{
    display: none;
}
.l-con{
    width: 88vw;
    margin-left: 3vh;
}
.left-imgs img{
    width: 185vw;
    bottom: 0;
}
.left-imgs{
    bottom: 0;
}.lmg{
    grid-template-rows: unset;
}
/* Trainers section  */

.trainers{
    flex-direction: column;
    align-items: center;
}
.train-item{
    margin-left: 0;
    width: 95vw;
    min-height: 55vh;
    margin-bottom: 2vh;
}
.trainer-img{
    text-align: center;
}

/* footer section  */

.footer-section{
    flex-direction: column;
}
.map{
    width: 100vw;
}
.form{
    width: 100vw;
}
.inputs{
    width: 92vw;
    height: 120vw;
}
.bth{
width: 40vw;

}
.inps1{
    margin-right: 16px;
}
.inps3, .inps4 {
    width: 83vw;
}
.f-btn{
    width: 46vw;
}

.fp{
    text-align: center;
    width: 65vw;
}

}
/* for ipad  */
@media (min-width:700px) and (max-width:1028px){

    .inputs{
        height: 93vw;
    }
    .one,.one2{
        transform: translateX(5vw);
    }
    .toggle{
        left: 35vw;
    }
   
    .main-line span{
        height: 7vh;
    }
    .mid-btn{
        margin-top: 24vh;
    }
    .m-bn{
        margin-top: 4vh;
    }
    .mid-part{
        height: 45vh;
    }
    .u-con{
        width: 100vw;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .l-con{
        width: 42vw;
        margin-left: 5vw;
        height: 8vh ;
    }
    .con-main{
        width: 90vw;
    }
    .train-item{
        width: 44vw;
        min-height: 39vh;
    }
    .trainers{
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .tr-1 {
        margin-right: 17px;
    }
    .tr-2{
        margin-left: 30px;
    }
    .tr-3{
        display: none;
    }
    .map{
        width:51vw;
    }
    .form{
        width: 50vw;
        height: 35vh;
    }
    .footer-section{
        flex-direction: row;
    }
    .inputs{
        width: 40vw;
        height: 30vh ;
        margin-top: 24px;
     
    }
    .inps1,.inps2 , .inps3 , .inps4{
        border-radius: 0;
        outline: none;
        border: none;
        border-bottom: 1px solid grey;
    }
    .inps1,.inps2{
      width: 17vw;
      height: 4vh;
    }
     .inps3{
        width: 35vw;
        height: 6vh;
     }
     .inps4{
        width: 36vw;
        height: 51px;
     }
     .f-btn{
         width: 30vw;
     }
     .map{
         height: 35vh;
     }
     .top{
         top: 11vh;
     }
     .home-container{
         height: 68vh;
     }
     .class-content{
         width: 100vw;
     }
     .inputs{
         min-height: 30vh;
     }
     .f-btn{
         margin-top: 4px;
     }


}

/* For desktops */
@media (min-width:1366px) and (max-width:3000px){
.feature-all-items{
    justify-content: center;
}
    .bcm{
        position: relative;
    bottom: -4vh;
    }
    .home-container{
        height: 83vh;
    }
ul{
    margin-right: 0;
}
.feature-m{
    margin-top: 2.5vh;
}
.dfm{
    margin-top: 0;
}
.train-item{
    min-height: 56vh;
}
.fa2{
    margin-top: 63px;
}
}
/* Big desktop  */

@media (min-width:1600px) {

.bcm{
    bottom: 5vh;
}
.home-container{
    height: 66vh;
}
.train-item{
    min-height: 48vh;
}







}
@media (min-width:1920px) {
    .mid-part{
        height: 45vh;
    }
}

@media (min-width:993px) and (max-width:1200px){

    
.logo{
    margin: 0;
}
ul{
    margin-right: 0;
}
.top{
    top: 31vh;
}
.mid-btn{
    width: 15vw;
}
.left-img{
    margin-left: 0;
}
.feature-all-items{
    justify-content: center;
}
.feature-btn{
    width: 15vw;
}
.u-con{
    width: 50vw;
    flex-direction: column;
}
.class-content{
width: 38vw;
}
.l-con{
    width: 32vw;
}

.left-imgs{
    position: static;
    grid-template-rows: 22vw;
grid-template-columns: 31vw 10vh;
}
.trainers{
    flex-wrap: nowrap;
}
.train-item img{
    margin-left: 5vw;
}
.tr-1{
    margin-right: 2vw;
    margin-left: 0;
}.map{
    height: 44vh;
}
.form{
    height: 44vh;

}
.inputs{
    height: 38vh;
}
.f-btn{
    margin-top: 1vw;
}
.tr-3{
    display: none;
}
    
}
@media (min-width:1030px) and (max-width:1264px){

    .class-content{
    min-width: 31vw;
    }
.l-con{
    margin-left: 2vw;
}
.tr-3{
    display: block;
}
.train-item{
    min-width: 24vw;
}
.train-item img{
    width: 16vw;
}
.train-item{
    min-height: 45vh;
}
.trainer-img{
    display: flex;
justify-content: center;
align-content: center;
align-items: center;
width: 14vw;
}
.tr-1{
    margin-left: 4vw;
}
.inputs{
    margin: 2vh auto;
    min-height: 40vh;
}
}
@media (min-width:1202px) and (max-width:1252px){

.class-content{
    width: 31vw;
}

}
