@import url('https://fonts.googleapis.com/css2?family=Abel&family=Antic+Slab&family=Merriweather+Sans:wght@500&family=PT+Sans:wght@700&family=Poppins:wght@900&family=Quicksand:wght@300&family=Rubik:ital,wght@1,500&family=Tajawal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    scroll-margin: 121px;
      

}
html,body{
    scroll-behavior: smooth;
  margin: 0;
  padding: 0;
    
}
body{
    overflow-x: hidden;
 
}

/* navbar */

header{

    z-index: 1;
    
    background-color: #6c757d;
}
.navbar{
    display: flex;
    justify-content: space-between;
    min-height: 80px;

    
 
    
}
.logo{
    font-family: 'Poppins', sans-serif;
    display: flex;
font-size: 2.5rem;
padding: 12px;
margin: 0 111px;
}

ul{
    display: flex;
    font-family: 'Tajawal', sans-serif;
  margin-right: 343px;
}
nav ul li{
    list-style: none;
    padding: 29px;
    font-size: 1.1rem;
  
}
nav ul li a:hover{
    color: #ed563b;
}
nav ul li a{
    text-decoration: none;
 
    color: white;
 
}
a{
    
    transition: 0.3s;
}


.stickynav{
    position: sticky;
    top: 0;
background-color: white;
transition: 0.5s;
}

.stickynav .navbar .one{
    color: #000;
}
.stickynav .navbar .links{
    color: #000;
}
.stickynav .navbar .btn:hover{
    background-color: #eb5339;
}

.stickynav .navbar .btn:hover a{
    color: black;
}
.stickynav .navbar .links:hover{
    color: #eb5339;
}


.one{
    color: white;
    margin-right: 6px;
}


.two{
    color: #ed563b;
}
.btn{
   height:33px;
    background-color: #ed563b;
    border: none;
    

}




.btn:hover{
    background-color:honeydew;
    
}
.sign-btn{
padding: 18px 23px;
letter-spacing: 1px;
}
.toggle{
    display: none;
}
/* Navbar end  */

/* Home */

.home-container{
    background-color: rgba(35,45,57,0.8);
    height: 100vh;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top{
    color: white;
    font-family: 'Poppins', sans-serif;
line-height: 3;
letter-spacing: 2px;
position: absolute;
top: 200px;
}
.bcm{
    bottom: 300px;
}
.line{
    font-size: 1.2rem;
}

.main-line{
    font-size: 5rem;
   
  
    
}


.touch{
    text-decoration: none;
    color: white;

    
}





/* home end  */

/* Features  */

.feature-head{
    width:40vw;
    margin: auto;
   
    text-align: center;
    line-height: 1.5;
    height: 200px;
   margin-top: 150px;

}
.feature-top {
    font-family: 'Poppins', sans-serif;
    letter-spacing:1.6px;
    margin-right: 10px;
}
.feature-img{
    padding: 20px;
}
.fa1{
    margin-top: 60px;
}
.motive-line{
    font-family: 'Antic Slab', serif;
    color: grey;
}
.first{
    margin-right: 6px;
}
/* features main  */

.feature-item{
   display: flex;
   font-family: 'PT Sans', sans-serif;
}
.feature-item p{
    font-family: 'Quicksand', sans-serif;
    line-height: 1.5;
    margin-top: 10px;

}
.left-img{
    margin-left: 83px;
    margin-right: 30px;
}
.right-content{
    width: 30vw;
  }
  
.feature-btn {
color: #ed563b;
text-decoration: none;

text-transform: uppercase;
display: inline-block;
width: 10vw;
margin-top: 7px;
font-family: 'Abel', sans-serif;
letter-spacing: 1px;
}
.feature-m{
    margin-top: 60px;
}

/* midpart */

.mid-part{
    height: 70vh;
    margin-top: 132px;
    background-image: url('https://templatemo.com/templates/templatemo_548_training_studio/assets/images/cta-bg.jpg');
    display: flex;
   justify-content: center;
    align-items: center;
    text-align: center;
}
.mid-item h2{
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
color: white;
letter-spacing: 0.5px;
}
.mid-item p{
    color: #fff;
    width: 80vw;
    margin-top: 10px;
    font-size: 1.3rem;
    word-spacing: 2px;
    font-family: 'Quicksand', sans-serif;

}
.mid-btn{
    background-color: #ed563b;
    width: 13vw;
    height: 44px;
       margin-top: 34px;
    display: inline-flex;
    justify-content: center;
       align-items: center;
    text-transform: capitalize;
    font-family: 'Tajawal', sans-serif;


}
.mid-btn:hover{
    background-color: rgb(236, 22, 39);
}

/* Classes section  */

.u-con{
    display: flex;
    flex-direction: column;

}

.l-con{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Abel', sans-serif;
font-size: 1.2rem;
    list-style: none;
    margin-left: 163px;
margin-top: 35px;
box-shadow: 0px 0px 4px gray;
width: 24vw;
height: 12vh;
text-transform: uppercase;
font-weight: bold;
}
 .l-con a{
    text-decoration: none;
    color: black;
}
 a:focus{
     color: #ed563b;
 }


.con-main {
    background-color: #ec3514;
    


}
.con-main a{
    color: white;
}
.class-content{

    width: 40vw;
}
    
.classes{
    display: flex;
}
.left-imgs{
    position: relative;
    z-index: -1;
    bottom: 20px;
}
.left-imgs img{
    width: 50vw
}
.lmg{
    display: grid;
    grid-template-rows: 331px 17px;
grid-template-columns: 435px 65px;
}


/* trainers  */
.train-item{
   min-height: 60vh;
    width: 24vw;
    margin-left: 100px;
    box-shadow: 0px 6px 20px #b9b9b9;
  padding: 10px;
  
  padding: 30px 20px 10px;
  

}
.train-item img{
    margin-bottom: 20px;
}
.trainers{
   display: flex;
   
    font-family: 'Tajawal', sans-serif;


}
.red-head{
    color: #ed563b;
    font-family: 'Abel', sans-serif;
    

}
.grey-foot{
    color: grey;
}
.fa-brands{
    margin-top: 20px;
  margin-right: 10px;

}
.fa-brands:hover{
    color: #ed563b;
    cursor: pointer;
}



/* footer section  */
.footer-section{
    display: flex;
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
}
.map{
width: 40vw;
   
}
.form{
    


    width: calc(100vw - 40vw);
    
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);;
    
}
.inputs{
    width: 40vw ;
    height: 64vh;
    background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  border-radius: 20px;

}
.bth-tog{
    margin-bottom: 30px;
    
}
.form input , textarea{
  padding-left: 10px;
}


.inps1{
    width: 14vw;
    height: 6vh;
 margin-right: 30px;
}
.inps2{

    width: 14vw;
    height:6vh;
   
}
.inps3{
    width: 30vw;
    height: 7vh;

}
.inps4{
    margin-top: 30px;
    width: 30vw;
    
}
.ipt{
    border-radius: 5px;
 
}
.f-btn{
    background-color: #ed563b;
    width: 15vw;
    height: 6vh;
    margin-top: 20px;
display: flex;
justify-content: center;
align-items: center;
}
.f-btn a{
    text-decoration: none;
    color: white;
}
.f-btn:hover{
    background-color: red;

}

.main-footer{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
 
color: black;
height: 7vh;
font-family: 'Quicksand', sans-serif;
text-transform: capitalize;

}
 .fa-solid{
     margin-left: 10px;
     
 }
 .fa-solid:hover{
     color: red;
     
 }
